/* @font-face {
  font-family: 'Merriweather';
  src: url('Merriweather-Regular.ttf') format('ttf');
} */

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Noticia Text', serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3a4145;
}

canvas {
  display: block;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(35, 161, 232, 0), #82c9f0);
  background-color: #77369a;
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
}
