include:
  - '/backend/apis/.gitlab-ci.yml'
  - '/backend/cdk/.gitlab-ci.yml'

image: node:24.12.0

stages:
  - test
  - build
  - test-cdk
  - release
  - deploy

.front_end_changes: &front_end_changes
  - app/**/*
  - components/**/*
  - hooks/**/*
  - pages/**/*
  - types/**/*
  - utils/**/*
  - next.config.js
  - package.json
  - vercel.json
  - .gitlab-ci.yml
  - .releaserc

.backend_end_changes: &back_end_changes
  - backend/apis/**/*
  - backend/cdk/**/*
  - README.md

deploy_frontend_staging:
  stage: deploy
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "staging"'
      changes: *front_end_changes
    - changes: *back_end_changes
      when: never
  script:
    - curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_XVrzM2eALvquKAUKMDAlgjSccy4B/cGxMEW1fLT

publish:
  image: node:24.12.0
  stage: release
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes: *front_end_changes
    - changes: *back_end_changes
      when: never
  script:
    - npm install @semantic-release/gitlab @semantic-release/commit-analyzer @semantic-release/release-notes-generator conventional-changelog-conventionalcommits
    - GITLAB_TOKEN=$PROJECT_RELEASE_TOKEN npx semantic-release@25

deploy_frontend_production:
  stage: deploy
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes: *front_end_changes
    - changes: *back_end_changes
      when: never
  script:
    - curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_XVrzM2eALvquKAUKMDAlgjSccy4B/k4eiYJ4iju
