html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Noticia Text', serif;
  letter-spacing: 0.01rem;
  font-size: 1.8rem;
  line-height: 1.75em;
  color: #3a4145;
}

canvas {
  display: block;
}
