.height100vh {
  height: 100vh;
}

.sectionHeader {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  margin: 0 auto;
  width: 72%;
  border-bottom: 1px solid black;
  margin-bottom: 52px;
}
