.donateWrapper {
  padding: 10px;
  height: 100vh;
  margin: auto;
}

.donateContainer {
  padding: 15px;
  text-align: center;
}

.aboutDonate {
  font-size: 1.09em;
  max-width: 600px;
  margin: auto;
}

.qRCode {
  width: 100%;
  height: auto;
  max-width: 300px;
  padding: 20px;
}

.donate {
  font-size: 2.3em;
}
