.tileWrapper {
  min-width: 350px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 350px;
}

.tileWrapper:hover {
  cursor: pointer;
}

.title {
  font-size: 16px;
}

.imageContainer {
  height: 140px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
}

.titleBox {
  flex: 1;
  background-color: #d2d1d1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  position: relative;
}

.lengthInMinutes, .publishedDate {
    margin: 0;
}

.lengthInMinutes {
    margin-right: 154px;
}

.infoWrapper {
    display: flex;
    position: absolute;
    bottom: 15px;
}