.viewWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-bottom: 30px;
  
  .innerWrapper {
    justify-content: flex-end;
    max-width: 1110px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    margin: auto;
  }
}
