$cloudfront-url: 'https://d2j3yisnywcb30.cloudfront.net/pix/';
$pictures-url: '/images/';

.projectStackItem {
  margin: auto;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  max-width: 90px;
}

.logo {
  height: 40px;
  width: 40px;
  margin: 5px;
}

@mixin background($image) {
  background: {
    image: url('#{$pictures-url}#{$image}.webp');
    size: cover;
    position: center;
  }
}

.typescript {
  @include background('typescript');
}

.nextjs {
  @include background('nextjs');
}

.postgres {
  @include background('postgres');
}

.dynamodb {
  @include background('dynamodb');
}

.lancedb {
  @include background('lancedb-logo');
}

.mongo {
  @include background('mongodb');
}

.react {
  @include background('react');
}

.node {
  @include background('nodejs');
}

.serverless {
  @include background('serverless-logo');
}

.express {
  @include background('expressjslogo');
}

.redux {
  @include background('redux');
}

.javascript {
  @include background('javascript');
}

.angular {
  @include background('angular');
}

.docker {
  @include background('docker-logo');
}

.go {
  @include background('go-logo');
}

.awssam {
  @include background('aws-sam');
}

.kubernetes {
  @include background('kubernetes');
}

.cdk {
  @include background('cdk');
}

.terraform {
  @include background('terraform');
}

.lambda {
  @include background('lambda');
}

.bedrock {
  @include background('bedrock-logo');
}

.apigateway {
  @include background('apigateway');
}

.eventbridge {
  @include background('eventbridge-logo');
}

.route53 {
  @include background('route53-logo');
}

.s3 {
  @include background('s3-logo');
}

.jwt {
  @include background('jwt');
}

.jest {
  @include background('jest');
}

.python {
  @include background('python');
}

.pytorch {
  @include background('pytorch');
}

.cuda {
  @include background('cuda');
}

.bash {
  @include background('bash');
}

.athena {
  @include background('athena');
}

.websockets {
  @include background('websockets-logo');
}

.grpc {
  @include background('grpc-logo');
}

.mcp {
  @include background('mcp-logo');
}
