.cartLink,
.cartLink2 {
  position: fixed;
  z-index: 40;
  right: 30px;
  top: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.cartLink2 {
  position: unset;
  display: block;
  padding-bottom: 2px;
}

.fas {
  position: relative;
  top: 5px;
  width: 25px;
  height: 25px;
}

.numOfItems,
.numOfItems2 {
  color: black;
  font-size: 12px;
  margin: 0;
  padding-top: 2px;
  font-weight: 900;
}

.numOfItems2 {
  padding-left: 1px;
}

.numOfItemsWrapper {
  width: 20px;
  height: 20px;
  position: relative;
  top: -32px;
  right: -20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
}
