lambda_test:
  stage: test
  image: node:22.21.1
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - changes:
        - backend/analytics-tracker/**/*
    - when: never
  script:
    - export NODE_ENV=cicd
    - cd backend/analytics-tracker
    - npm i
    - npm run test

# lambda_deploy_staging:
#   stage: deploy
#   image: node:20.11.1
#   rules:
#     - if: '$CI_COMMIT_BRANCH == "staging"'
#       changes:
#         - backend/analytics-tracker/**/*
#     - if: '$CI_COMMIT_BRANCH == "master"'
#       changes:
#         - backend/analytics-tracker/**/*
#     - when: never
#   script:
#     - cd backend/analytics-tracker
#     - npm ci
#     - npx cdk deploy --require-approval never MyAppAnalyticsTracker
