.aboutMeWrapper {
  margin-bottom: 30px;
  padding-top: 25px;
}

.idleLoop {
  width: 400px;
  height: 400px;
  max-width: 90vw;
  max-height: 90vw;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  @media only screen and (max-width: 720px) {
    width: 260px;
    height: 260px;
  }
}

.idleLoopInner {
  width: 100%;
  height: 100%;
}

.idleLoopInner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textCenter {
  text-align: center;
}

.aboutMe {
  line-height: 35px;
  font-size: 20px;
  font-size: 20px;
  margin: 0 auto;
  width: 75%;
  margin-top: 52px;
}

.about {
  color: black;
  margin: auto;
  margin-top: 20px;
  line-height: 1.4;
  overflow: auto;
  word-wrap: break-word;
  @media only screen and (max-width: 720px) {
  }
}

.subhead,
.about {
  max-width: 600px;
}

.subhead {
  margin: 50px auto 20px;
}

.imageWrapper {
  margin: auto;
  text-align: center;
  img {
    margin: 20px auto 0;
    position: unset !important;
    height: 200px !important;
    @media only screen and (max-width: 720px) {
      height: 150px !important;
    }
  }
  .altText {
    color: #3d3b3b74;
    margin: 5px auto 20px;
    font-size: 14px;
    a {
      color: #3d3b3b74;
    }
  }
}

.fullWidthImage {
  max-width: 900px;
  width: 100%;
  img {
    height: auto !important;
    max-width: 100% !important;
  }
}
