.innerWrapper {
  max-width: 800px;
  margin: auto;
  .imageWrapper {
    margin: auto;
    text-align: center;
    img {
      margin: 20px auto 0;
      position: unset !important;
      height: unset !important;
    }
    .altText {
      color: #3d3b3b74;
      margin: 5px auto 30px;
      a {
        color: #3d3b3b74;
      }
    }
  }

  .text {
    line-height: 35px;
    font-size: 20px;
  }
}

.grey {
  color: #3d3b3b74;
  text-decoration: none;
  transition: color 0.3s ease-in-out; /* Add this line */
}

.grey:hover {
  color: #3d3b3be0;
}

.code {
  background-color: #dfdfdf;
  padding: 2px 4px;
  font-size: 15px;
  display: inline-block;
  line-height: 20px;
  a {
    color: black;
  }
}

.figure {
  clear: both;
  box-sizing: inherit;
  word-wrap: break-word;
  margin: 0;

  .firstInner {
    margin: auto;
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: inherit;
    unicode-bidi: isolate;
    word-wrap: break-word;
    .secondInner {
      height: 0;
      display: block;
      box-sizing: inherit;
      word-wrap: break-word;
      iframe {
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        width: 100%;
        border: none;
      }
    }
    .firstGist {
      height: 613px;
    }
    .secondGist {
      height: 1407px;
    }
    .thirdGist {
      height: 907px;
    }
    .fourthGist {
      height: 218px;
    }
  }
}

ul > li.text {
  list-style-type: disc;
}

ul.noDots > li {
  list-style: none;
}

@media only screen and (min-width: 720px) {
  .smaller {
    img {
      max-width: 50% !important;
    }
  }
}

pre.pre {
  text-align: center;
  .code {
    text-align: left;
    text-wrap: wrap;
    padding: 20px;
  }
}

.subtext {
  color: #6b6b6b;
  font-size: 22px;
}

p.text {
  a {
    color: black;
  }
}
