test_cdk:
  stage: test-cdk
  image: node:24.12.0
  needs:
    - job: build_staging
      artifacts: true
  dependencies:
    - build_staging
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
  script:
    - cd backend/cdk
    - npm i
    - npm run test
